# Загрузка данных
Целью данного ноутбука является парсинг vk-пабликов, содержащих анекдоты в текстовом формате.

Для этого были взяты паблики: 
1. [anekdotikategoriib](vk.com/anekdotikategoriib)
2. [smeshnye__anekdoty](vk.com/smeshnye__anekdoty)
3. [baneksbest](vk.com/baneksbest) 
4. [anecdotess](vk.com/anecdotess) 
5. [megaotriv](vk.com/megaotriv) 
6. [anecdotes](vk.com/anecdotes) 
7. [anekdot](vk.com/anekdot) 
8. [anekdot18p](vk.com/anekdot18p) 
9. [best__jokes](vk.com/best__jokes) 
10. [a_story](vk.com/a_story)  
11. [anek_net](vk.com/anek_net) 
12. [an18p](vk.com/an18p) 
13. [lookpics](vk.com/lookpics) 
14. [anekdotshort](vk.com/anekdotshort) 
15. [anekdotpremium](vk.com/anekdotpremium) 
16. [luchshiyeanekdoty](vk.com/luchshiyeanekdoty) 
17. [jewishpugs](vk.com/jewishpugs) 
18. [lol.story ](vk.com/lol.story) 

После подгрузки данных была произведена минимальная фильтрация данных:
- Попытка удаления рекламных постов
- Удаление строк маленькой длины (предположительно, подписей к картинкам)

Итого:
- Датасет содержит как короткие анекдоты, так и длинные комичные истории из жизни.
- В силу специфики домена датасет достаточно токсичный (предварительной обработки токсичности не производилось).

In [22]:
import requests
from tqdm import tqdm
import pandas as pd
import time
import re

In [3]:
TOKEN_USER = 'vk1.a.ime3n4NS1itmOlShAWKIwK8vRDiEWkFJgjpbZSwCGkG_ioIjVFxPxbW-G3jPv19OmWPCG0tu6XHLuP4aQNCOWckJFUUziY2lMLSjPofcUYo8kLIHarHZJwYt4kDhuUPnsQbrmnkoPeFnwf1uYeGwEeTC9pHty-sihBDgns_9lIy38IVLmqoK9yK3hNCuMeVjE60c7gL_FPiJbijUjfNm7w'
VERSION = 5.131

In [4]:
def parse_public(domain, blocks, offset = 0):        
    texts = []
    # через api vk вызываем статистику постов
    for i in tqdm(range(blocks)):
        response = requests.get('https://api.vk.com/method/wall.get',
        params={'access_token': TOKEN_USER,
            'v': VERSION,
            'domain': domain,
            'count': 100,
            'offset': i*100 + offset})
        try:
            data = response.json()['response']['items']
            texts.extend([item['text'].strip() for item in data if item['text'].strip()])
        except Exception as er:
            print(f'Error: {er}')
    return texts

In [5]:
def save_dataframe(df, name):
    df.to_csv(name)

In [83]:
texts = parse_public('anekdotikategoriib', 250, 1)
df = pd.DataFrame({'text': texts})
display(df)
save_dataframe(df, 'categoriiB.csv')

                                                    text
0      Сильно пьяного Пушкина не пускают на бал. Лерм...
1      Что делает вебкам-модель на маяке? \n \nСветит...
2      Заходит человек в магазин тканей: \n— Отмерьте...
3      Штирлиц обкурился, стоит перед зеркалом: \n \n...
4      — Смотрел вчера хоккей? \n— Да. \n— Видал как ...
...                                                  ...
24995  Поп в церковно-приходской школе ведёт урок физ...
24996  Беременная еврейка пришла к гинекологу. \nОн е...
24997  В лесу стоит привязанный к дереву мужик и орёт...
24998  Посетитель спрашивает официанта:\n- А ваши кот...
24999  – А давайте вызовем проститутку? \n– Давайте! ...

[25000 rows x 1 columns]

In [110]:
texts = parse_public('smeshnye__anekdoty', 678, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'smeshnye_anekdoty.csv')

100%|█████████████████████████████████████████| 678/678 [11:37<00:00,  1.03s/it]

In [111]:
texts = parse_public('baneksbest', 18, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'baneksbest.csv')

100%|███████████████████████████████████████████| 18/18 [00:14<00:00,  1.21it/s]

In [112]:
texts = parse_public('anecdotess', 980, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anecdotess.csv')

100%|█████████████████████████████████████████| 980/980 [13:49<00:00,  1.18it/s]

In [113]:
texts = parse_public('megaotriv', 1629, 7)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'megaotriv.csv')

100%|███████████████████████████████████████| 1629/1629 [22:15<00:00,  1.22it/s]

In [114]:
texts = parse_public('anecdotes', 693, 0)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anecdotes.csv')

100%|█████████████████████████████████████████| 693/693 [10:23<00:00,  1.11it/s]

In [6]:
texts = parse_public('anekdot', 918, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anekdot.csv')

100%|████████████████████████████████████████████████████████████████████████████████████████████████████| 918/918 [13:33<00:00,  1.13it/s]

In [116]:
texts = parse_public('anekdot18p', 615, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anekdot18p.csv')

100%|█████████████████████████████████████████| 615/615 [06:49<00:00,  1.50it/s]

In [117]:
texts = parse_public('best__jokes', 2040, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'best_jokes.csv')

100%|███████████████████████████████████████| 2040/2040 [23:53<00:00,  1.42it/s]

In [118]:
texts = parse_public('a_story', 740, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'a_story.csv')

100%|█████████████████████████████████████████| 740/740 [09:07<00:00,  1.35it/s]

In [131]:
texts = parse_public('anek_net', 1108, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anek_net.csv')

100%|███████████████████████████████████████| 1108/1108 [11:59<00:00,  1.54it/s]

In [132]:
texts = parse_public('an18p', 576, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'an18p.csv')

100%|█████████████████████████████████████████| 576/576 [06:08<00:00,  1.56it/s]

In [135]:
texts = parse_public('lookpics', 267, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'lookpics.csv')

100%|█████████████████████████████████████████| 267/267 [07:05<00:00,  1.60s/it]

In [136]:
texts = parse_public('anekdotshort', 647, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anekdotshort.csv')

100%|█████████████████████████████████████████| 647/647 [07:38<00:00,  1.41it/s]

In [137]:
texts = parse_public('anekdotpremium', 1045, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'anekdotpremium.csv')

100%|███████████████████████████████████████| 1045/1045 [12:46<00:00,  1.36it/s]

In [160]:
texts = parse_public('luchshiyeanekdoty', 105, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'luchshiyeanekdoty.csv')

100%|█████████████████████████████████████████| 105/105 [01:30<00:00,  1.15it/s]

In [161]:
texts = parse_public('jewishpugs', 48, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'jewishpugs.csv')

100%|███████████████████████████████████████████| 48/48 [01:01<00:00,  1.28s/it]

In [162]:
texts = parse_public('lol.story', 129, 1)
df = pd.DataFrame({'text': texts})
save_dataframe(df, 'lolstory.csv')

100%|█████████████████████████████████████████| 129/129 [01:58<00:00,  1.09it/s]

In [37]:
all_files = ['categoriiB.csv', 'smeshnye_anekdoty.csv', 'baneksbest.csv', 'anecdotess.csv', 
            'megaotriv.csv', 'anecdotes.csv', 'anekdot.csv', 'anekdot18p.csv', 
            'best_jokes.csv', 'a_story.csv', 'anek_net.csv', 'an18p.csv', 
            'lookpics.csv', 'anekdotshort.csv', 'anekdotpremium.csv', 'luchshiyeanekdoty.csv',
            'jewishpugs.csv', 'lolstory.csv']
len(all_files)

18

In [38]:
result = []
bad_words = ['http', 'https', 'vk', 'com', 'vkontakte', 'реклама', 'заработать', 'заработок',
             'mail', 'выбор', 'api', 'лайк', 'лайки', 'репост', 'инвестиции', 'инветициях',
             'api', 'img', 'jpg', 'source', 'вконтакте'
            ]
for file in tqdm(all_files):
    data = pd.read_csv(file)
    for line in data['text'].astype('str').values:
        f = True
        if not line.strip():
            f = False
            continue
        if len(line) < 40:
            f = False
            continue
        line_lower = line.lower()
        for bad_word in bad_words:
            if bad_word in line_lower:
                f = False
        if f:
            result.append(line)

100%|█████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:22<00:00,  1.25s/it]

In [39]:
data = pd.DataFrame({'text':result})
display(data)

                                                     text
0       Сильно пьяного Пушкина не пускают на бал. Лерм...
1       Что делает вебкам-модель на маяке? \n \nСветит...
2       Заходит человек в магазин тканей: \n— Отмерьте...
3       Штирлиц обкурился, стоит перед зеркалом: \n \n...
4       — Смотрел вчера хоккей? \n— Да. \n— Видал как ...
...                                                   ...
975129  В один престижный бутик заходит блондинистая к...
975130  Маршрутка. Заходит бабулька божий одуванчик. П...
975131  И чего только пьяному человеку в голову не при...
975132  Двое мужиков покупают водку. К верхушке бутылк...
975133  Мой друг входит в топ-менеджмент одного банка....

[975134 rows x 1 columns]

In [40]:
ENGletters = list('abcdefghijklmnopqrstuvwxyz' + 'abcdefghijklmnopqrstuvwxyz'.upper())

In [41]:
data = data[~data['text'].str.contains('|'.join(ENGletters))]
data.reset_index(drop=True)

                                                     text
0       Сильно пьяного Пушкина не пускают на бал. Лерм...
1       Что делает вебкам-модель на маяке? \n \nСветит...
2       Заходит человек в магазин тканей: \n— Отмерьте...
3       Штирлиц обкурился, стоит перед зеркалом: \n \n...
4       — Смотрел вчера хоккей? \n— Да. \n— Видал как ...
...                                                   ...
796419  В один престижный бутик заходит блондинистая к...
796420  Маршрутка. Заходит бабулька божий одуванчик. П...
796421  И чего только пьяному человеку в голову не при...
796422  Двое мужиков покупают водку. К верхушке бутылк...
796423  Мой друг входит в топ-менеджмент одного банка....

[796424 rows x 1 columns]

In [42]:
data = data.drop_duplicates()
data = data.reset_index(drop=True)
data

                                                     text
0       Сильно пьяного Пушкина не пускают на бал. Лерм...
1       Что делает вебкам-модель на маяке? \n \nСветит...
2       Заходит человек в магазин тканей: \n— Отмерьте...
3       Штирлиц обкурился, стоит перед зеркалом: \n \n...
4       — Смотрел вчера хоккей? \n— Да. \n— Видал как ...
...                                                   ...
319761  Это абсолютно реальная история, которую расска...
319762  В один престижный бутик заходит блондинистая к...
319763  Маршрутка. Заходит бабулька божий одуванчик. П...
319764  И чего только пьяному человеку в голову не при...
319765  Мой друг входит в топ-менеджмент одного банка....

[319766 rows x 1 columns]

In [43]:
unique_ind = data['text'].apply(lambda x: re.sub(r'[^а-яА-Я0-9]', '', x.lower())).drop_duplicates().index.values
unique_ind

array([     0,      1,      2, ..., 319763, 319764, 319765])

In [47]:
data = data.iloc[unique_ind]
data = data.reset_index(drop=True)
data

                                                     text
0       Сильно пьяного Пушкина не пускают на бал. Лерм...
1       Что делает вебкам-модель на маяке? \n \nСветит...
2       Заходит человек в магазин тканей: \n— Отмерьте...
3       Штирлиц обкурился, стоит перед зеркалом: \n \n...
4       — Смотрел вчера хоккей? \n— Да. \n— Видал как ...
...                                                   ...
233678  Это абсолютно реальная история, которую расска...
233679  В один престижный бутик заходит блондинистая к...
233680  Маршрутка. Заходит бабулька божий одуванчик. П...
233681  И чего только пьяному человеку в голову не при...
233682  Мой друг входит в топ-менеджмент одного банка....

[233683 rows x 1 columns]

In [49]:
data.to_csv('anekdots_result.csv', index=False)